%div.form-modal
  %div.appointment-header 2022.gallery appointments
  %div.appointment-sub Please enter your details:
  =form_for @user do |f|
    = f.label :name, class: 'form-label'
    = f.text_field :name, class: 'form-input'
    %br

    %br
    = f.label :email, class: 'form-label'
    = f.email_field :email, class: 'form-input'
    = f.submit :OK, class: 'submit-btn'
